In [3]:
import pandas as pd

In [4]:
s=pd.Series([1,4,7,2,5,8])
print(s)

0    1
1    4
2    7
3    2
4    5
5    8
dtype: int64

In [5]:
s={'A':[1,2,3],'B':[4,5,6]}
df=pd.DataFrame(s)
print(df)

   A  B
0  1  4
1  2  5
2  3  6

In [6]:
s={'A':['Meghana','Ranjit','mayuresh','sujal','Sayali']}
df=pd.DataFrame(s);
print(df)

          A
0   Meghana
1    Ranjit
2  mayuresh
3     sujal
4    Sayali

In [7]:
df=pd.DataFrame({'A':[1,2,None],'B':[4,None,6]})
print(df.isnull())

       A      B
0  False  False
1  False   True
2   True  False

In [8]:
df.fillna(0,inplace=True)

In [9]:
df=pd.DataFrame({'A':['foo','bar','foo'],'B':[1,2,3]})
grouped=df.groupby('A').sum()

In [10]:
df.pivot_table(values='B',index='A',aggfunc='sum')

     B
A
bar  2
foo  4